* {
  font-family: "Inter", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
  z-index: 0;
  color: #fff;
  background-color: transparent;
  border: none;
}
html {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../materials/background.jpg");
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.info {
  text-align: center;
  margin: 0 auto;
  padding: 0 5px 2px 5px;
  border-bottom: 2px solid;
  border-color: red;
  font-size: 20px;
}

.timer {
  font-size: 128px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.buttons > * {
  background-color: rgba(85, 254, 234, 0.65);
  height: 32px;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
  padding: 0 24px;
  opacity: 0;
  transition: opacity 1s;
}

input:focus,
input:active {
  outline: none;
}

option {
  background-color: #282828;
  border: none;
  border-radius: 5px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.start > button {
  width: 16px;
  height: 16px;
}

#x {
  height: 30px;
  font-size: 16px;
  padding: 0 22px;

  border: 0px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  margin-top: 102px;
  border-radius: 50px;
}
